body {
	padding: 30px 0 0;
	border-top: 3px solid #4d90fe;
	background:#efefef; 
}

p {
	font: 14px/23px 'Varela', sans-serif;
	text-shadow: #ffffff 0 1px 0;
}

a:link, 
a:visited {
	color: #338bb8;
	text-decoration:none;
}

a:hover {
	color: #3799ca;
	text-decoration:underline;
}

.center-align {
	text-align: center;
}

.right-align{
	text-align: right;
}

.left-align{
	text-align: left;
}


h2 {
	text-align: center;
	font: 400 44px/71px 'Varela', sans-serif;
	margin: 18px 0;
}

h2 strong {
	font-weight:700;
}

h3 {
	text-align: center;
	margin: 0px 0px 15px;
	font: 400 28px/45px 'Varela', sans-serif;
}

.subhead {
	font-family: 'Contrail One', serif;
	font-weight: 400;
	color: #aaaaaa;
	margin-bottom: 40px;
}

h4 {
	font: 600 16px/26px 'Varela', sans-serif;
}

.quotes {
	font-family: 'Contrail One', serif;
	font-size: 24px;
	color:#555555;
}

.navbar {
	margin:0 0 15px;
}

.navbar-inner {
	background:transparent;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	filter:none;
}

.navbar .brand {
	background: url("http://static.infrastructurecoders.com/u/13184086/ic/img/logo.png") no-repeat left center;
	font-family: 'Contrail One', serif;
	font-weight: 700;
	font-size: 24px;
	padding: 20px 0 20px 70px;
	margin-left: 0;
	color: #333;
}

.navbar .nav {
	float:right;
	display: inline-block;
	padding: 20px 60px 20px 0;
}

.navbar .nav li {
	margin-left: 15px;
}

.navbar .nav li a,
.footer-box a {
	font: 600 16px/26px 'Varela', sans-serif;
	padding: 6px 18px;
	color: #888888;
	text-shadow: 0 1px 0 #ffffff;
	line-height: 16px;
	text-align: center;
}

.navbar .nav .active a,
.footer-box .active a {
	color:#4d90fe;
	text-shadow:none;
	text-shadow:0 1px 0 #ffffff;
	background-color:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar .nav li a:hover,
.footer-box a:hover {
	color:#4d90fe;
	text-shadow:0 1px 0 #ffffff;
}

.navbar .nav .active a:hover,
.footer-box .active a:hover {
	color:#4fb6e9;
	text-shadow:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow:0 1px 0 #ffffff;
}

.highlight { 
	margin-top: 40px;
	margin-bottom: 40px;
	text-align:center;
}

.highlight img {
	margin-bottom: 30px;
	text-align:center;
}

.section-box h3 {
	font-family: 'Varela', sans-serif;
	font-weight:600;
	font-size: 24px;
	margin-bottom:15px;
	text-align: center;
}

.section-box {
	background:#ffffff;
	box-shadow:none;
	border:1px solid #eeeeee;
	padding:60px 0;
	margin-top:15px;
	margin-bottom:20px;
	color: #333333;
}

.section-box img {
	margin-top: 30px;
	margin-bottom: 30px;
}

.section-box .row + .row {
	margin-top: 30px;
}

.section-box .span6 + .span4 img {
	float: right;
}

.logo-list {
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo-list img {
	padding: 6px 18px;
	margin: 4px 0px;
}

.footer-box {
	padding:30px 0;
	text-align:center;
	font-family: 'Varela', sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #888888;
}

.footer-box .links {
	margin:5px 0px 20px 0px;
}

.footer-box .links a {
	display:inline-block;
	margin: 4px 0px;
}

.footer-box .links a:hover {
	text-decoration: none;
}

.join {
	display: inline-block;
	font: 400 24px/39px 'Varela', sans-serif;
	padding: 12px 36px;
	margin: 8px 0px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
	text-shadow: #3799ca 0 -1px 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) ;
	background-color: #0072bb;
	background-image: -moz-linear-gradient(top, #4d90fe, #0072bb);
	background-image: -ms-linear-gradient(top, #4d90fe, #0072bb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#0072bb));
	background-image: -webkit-linear-gradient(top, #4d90fe, #0072bb);
	background-image: -o-linear-gradient(top, #4d90fe, #0072bb);
	background-image: linear-gradient(top, #4d90fe, #0072bb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#0072bb', GradientType=0);
}

.join:link, 
.join:visited {
	color:#ffffff;
}

.join:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #4d90fe;
	background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
	background-image: linear-gradient(top, #4d90fe, #4787ed);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d90fe', endColorstr='#4787ed', GradientType=0);
}

.shadow {
	position: relative;
}

.shadow:before,
.shadow:after {
	left: 18px;
	z-index: -1;
	position: absolute;
	width: 90%;
	height: 90%;
	bottom: 18px;
	content: "";
	-webkit-transform:rotate(-1deg);
	-moz-transform:rotate(-1deg);
	-o-transform:rotate(-1deg);
	transform:rotate(-1deg);
	-webkit-box-shadow:0 10px 10px rgba(0, 0, 0, 1);
	-moz-box-shadow:0 10px 10px rgba(0, 0, 0, 1);
	box-shadow:0 10px 10px rgba(0, 0, 0, 1);
}

.shadow-line{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}

.about .mugshots {
	margin: 30px 5px 30px 5px;
}
.github {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

